<div class="four columns physical-remote">
  <div class="row display">
    <div class="three mobile-one columns"> </div>

    <div class="three mobile-one columns">
      <button class="small-button" style="width: 100%;" ng:click="navigateUp()">Up</button>
    </div>

    <div class="three mobile-one columns"> </div>

    <div class="three mobile-one columns">
      <button class="small-button" style="width: 100%;" ng:click="showGuide()">Guide</button>
    </div>
  </div>

  <div class="row display">
    <div class="three mobile-one columns">
      <button class="small-button" style="width: 100%;" ng:click="navigateLeft()">Left</button>
    </div>

    <div class="three mobile-one columns">
      <button class="small-button" style="width: 100%;" ng:click="select()">Select</button>
    </div>

    <div class="three mobile-one columns">
      <button class="small-button" style="width: 100%;" ng:click="navigateRight()">Right</button>
    </div>

    <div class="three mobile-one columns">
      <button class="small-button" style="width: 100%;" ng:click="watchLiveTV()">Live TV</button>
    </div>
  </div>

  <div class="row display">
    <div class="three mobile-one columns"></div>

    <div class="three mobile-one columns">
      <button class="small-button" style="width: 100%;" ng:click="navigateDown()">Down</button>
    </div>

    <div class="three mobile-one columns"></div>

    <div class="three mobile-one columns">
      <button class="small-button" style="width: 100%;" ng:click="mainMenu()">Home</button>
    </div>
  </div>
</div>