<div class="four columns physical-remote">
  <div class="row display">
    <div class="three mobile-one columns"></div>

    <div class="three mobile-one columns" ng:click="navigateUp()">
      <div class="big button">Up</div>
    </div>

    <div class="three mobile-one columns"></div>

    <div class="three mobile-one columns" ng:click="showGuide()">
      <div class="big button">Guide</div>
    </div>
  </div>

  <div class="row display">
    <div class="three mobile-one columns" ng:click="navigateLeft()">
      <div class="big button">Left</div>
    </div>

    <div class="three mobile-one columns" ng:click="select()">
      <div class="big button">Select</div>
    </div>

    <div class="three mobile-one columns" ng:click="navigateRight()">
      <div class="big button">Right</div>
    </div>

    <div class="three mobile-one columns" ng:click="watchLiveTV()">
      <div class="big button">Live TV</div>
    </div>
  </div>

  <div class="row display">
    <div class="three mobile-one columns"></div>

    <div class="three mobile-one columns" ng:click="navigateDown()">
      <div class="big button">Down</div>
    </div>

    <div class="three mobile-one columns"></div>

    <div class="three mobile-one columns" ng:click="mainMenu()">
      <div class="big button">Home</div>
    </div>
  </div>
</div>