<div class="row" ng:show="initialized == true && previousRecording != undefined">
  <div class="six columns" >
    <div class="row previousRecording">
      <div class="four columns">
        <img ng:src="/rest/dvr/image?ChanId={{ previousRecording.Channel.ChanId }}&StartTime={{ previousRecording.Recording.StartTs }}">
      </div>
      <div class="eight columns">
        <h4>Previously played...</h4>
        <a href="" ng:click="clickDeletePreviousRecording()">Delete</a>
        <a href="" ng:click="ignorePreviousRecording()">Ignore</a>
        
        <div ng:show="previousRecordingConfirmNeeded">
          Are you sure you want delete?<br />
          <a href="" ng:click="deleteRecording(previousRecording)">Yes</a>
          <a href="" ng:click="cancelDeletePreviousRecording()">No</a>
        </div>
        <h4>{{ previousRecording.Title }}
          <small ng:show="previousRecording.SubTitle != undefined && previousRecording.SubTitle.length > 0">- {{ previousRecording.SubTitle }}</small>
        </h4>
        <h4><small>{{ previousRecording.StartTime | date:'MMM d, y h:mm a' }}</small></h4>
        <p>{{ previousRecording.Description }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row" ng:show="initialized && recordings != undefined">
  <div class="twelve columns">
    <div class="row recording" ng:repeat="recording in recordings | filter: filterLiveTV | orderBy:'StartTime':reverse" ng:click="clickRecording(recording)">
      <div class="four columns recording-img">
        <img ng:src="/rest/dvr/image?ChanId={{ recording.Channel.ChanId }}&StartTime={{ recording.Recording.StartTs }}">
      </div>
      <div class="eight columns recording-propo">
        <div>
          <h4>{{ recording.Title }} 
            <small ng:show="recording.SubTitle != undefined && recording.SubTitle.length > 0">- {{ recording.SubTitle }}</small>
          </h4>
          <h4><small>{{ recording.StartTime | date:'MMM d, y h:mm a' }}</small></h4>
          <p>{{ recording.Description }}</p>
        </div>
        <div>
          <button class="small-button" ng:click="clickDeleteRecording(recording); $event.stopPropagation();">Delete</a>
        </div>
        <div ng:show="selectedRecording.ProgramId == recording.ProgramId">
          <div class="question">Are you sure you want delete?</div>
          <div>
            <button class="small-button" ng:click="deleteRecording(recording); $event.stopPropagation();">Yes</button>
            <button class="small-button" ng:click="cancelDeleteRecording(); $event.stopPropagation();">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
