<div class="twelve columns" ng:show="frontendState != undefined">
  <div class="row display">
    <h1>{{ frontendState.title}}</h4>
  </div>

  <div class="row display">
    <div style="background-color: #C0C0C0; height: 32px; width: 100%;">
      <div ng:style="getProgressBar()"></div>
    </div>
  </div>

  <div class="row display">
    <div ng:class="getButtonColumnStyle()" ng:show="mode == 'recording'">
      <div style="width: 100%; margin-top: 8px;">
        <button class="small-button" style="width: 100%" ng:click="executeSkipCommercialBack(); $event.stopPropagation();">Back</button>
      </div>

      <div style="width: 100%; margin-top: 8px;">
        <button class="small-button" style="width: 100%" ng:click="executeSkipCommercial(); $event.stopPropagation();">Next</button>
      </div>
    </div>

    <div ng:class="getButtonColumnStyle()">
      <div style="width: 100%; margin-top: 8px;">
        <button class="small-button" style="width: 100%" ng:click="rewind(); $event.stopPropagation();">
          Rewind <add ng:show="playSpeed < 0">Faster</add>
        </button>
      </div>

      <div style="width: 100%; margin-top: 8px;">
        <button class="small-button" style="width: 100%" ng:click="fastForward(); $event.stopPropagation();">
          Fast Forward <add ng:show="playSpeed > 1">Faster</add>
        </button>
      </div>
    </div>

    <div ng:class="getButtonColumnStyle()">
      <div style="width: 100%; margin-top: 8px;">
        <button class="small-button" style="width: 100%" ng:click="executeStop(); $event.stopPropagation();">Stop</button>
      </div>

      <div style="width: 100%; margin-top: 8px;" ng:show="playSpeed == '1'">
        <button class="small-button" style="width: 100%" ng:click="executePause(); $event.stopPropagation();">Pause</button>
      </div>

      <div style="width: 100%; margin-top: 8px;" ng:hide="playSpeed == '1'">
        <button class="small-button" style="width: 100%" ng:click="executePlay(); $event.stopPropagation();">Play</button>
      </div>
    </div>

    <div ng:class="getButtonColumnStyle()">
      <div style="width: 100%; margin-top: 8px;">
        <button class="small-button" style="width: 100%" ng:click="volumeUp(); $event.stopPropagation();">Volume Up</button>
      </div>

      <div style="width: 100%; margin-top: 8px;">
        <button class="small-button" style="width: 100%" ng:click="volumeDown(); $event.stopPropagation();">Volume Down</button>
      </div>
    </div>
  </div>
</div>